<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/assert/bootstrap413/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assert/datatables/css/dataTables.bootstrap4.min.css">
</head>
<body>
<a href="/create">CREATE BLOG</a>
<div class="container">
    <h1>Manchecter City Blog</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Tile</th>
            <th>Body</th>
            <th>Summary</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        <tr th:each="blog : ${blogList}">
            <td th:text="${blog.id}"></td>
            <td th:text="${blog.tile}"></td>
            <td th:text="${blog.body}"></td>
            <td th:text="${blog.summary}"></td>
            <td>
                <a th:href="@{/edit/__${blog.id}__}">Edit</a>
            </td>
            <td>
                <a th:href="@{/delete/__${blog.id}__}">Delete</a>
            </td>

        <tr>
            <th>Category</th>
            <th>
                <select th:field="*{classRoom.id}">
                    <option th:each="item: ${classRoomList}"
                            th:value="${item.id}" th:text="${item.name}"></option>
                </select>
            </th>
        </tr>
        </tr>
    </table>

    <div>
        <a th:href="@{'/list'(page = ${blogList.number - 1})}"
           th:if="${blogList.hasPrevious()}">Previous</a>
        <span th:text="${blogList.number + 1}"></span>
        / <span th:text="${blogList.totalPages}"></span>
        <a th:href="@{'/list'(page = ${blogList.number + 1})}"
           th:if="${blogList.hasNext()}" class="btn-primary">Next</a>
    </div>

</div>

<script src="/assert/jquery/jquery-3.5.1.min.js"></script>
<script src="/assert/bootstrap413/js/popper.min.js"></script>
<script src="/assert/datatables/js/jquery.dataTables.min.js"></script>
<script src="/assert/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.min.js"></script>
<script src="/assert/bootstrap413/js/bootstrap.bundle.js"></script>
</body>
</html>