<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/create}" th:object="${blogList}" method="post">
        <table>
            <tr>
                <td>Tile</td>
                <td><input type="text" th:field="*{tile}"/></td>
            </tr>
            <tr>
                <td>Body</td>
                <td><input type="text" th:field="*{body}"/></td>
            </tr>
            <tr>
                <td>Summary</td>
                <td><input type="text" th:field="*{summary}"/></td>
            </tr>
<!--            <tr>-->
<!--                <td>Category</td>-->
<!--                <td><input type="text" th:field="*{category}"/></td>-->
<!--            </tr>-->
            <tr>
                <td></td>
                <td><input type="submit" value="Create"></td>
            </tr>
        </table>
    </form>
</body>
</html>