html {
    background: no-repeat url("../thumucanh/tải xuống.jpg");
    background-repeat: unset;
}

#trangchu{
    border: 2px solid blue;
    margin: auto;
    width: 65%;

}
/*.intagram {*/
/*    float: left;*/
/*}*/
#boder2 {
width: 20%;
}
.tieude{
    text-align: center;
    background-color: chartreuse;
}

.container {
    width: 100%;
    height: 20%;
    margin: 0;
 background-color: orange;
    opacity: 0.7;
}
#conten {

}
.tintuc {
    color: white;
    text-align: center;
    background-color: burlywood;
}
.facebook {
    width: 5%;
}
.anhtrangchu {
    width: 5%;
}
.anhnen {
    width: 100%;
}
#top {
    width: 20%;
    float: left;
}
#post{
    float: left;
    margin: 5px;
}
#select {
    float: left;
    margin: 5px;
}
#none {
    float: left;
    margin: 5px;
}
#fifa {
    float: left;
    margin: 10px;
}

.px {
    max-width: 50%;
    height: unset;
}
.button {
    background-color: blue;
    color: black;
}
.none {
    color: white;
}
#nau {

}
.floatleft {
    float: left;

}
.cangiua {
  width: 50%;
    height: 50%;
}
.slogan {
    text-align: center;
    background-color: orangered;
}
.anhronadol {
    width: 200%;
}
.name {

}
.onclick {
    background-color: green;
}
.mausac {
    color: white;
    text-align: center;
    background-color: green;
}
.oclick {
 /*background-color: orange;*/
    color: violet;
}
.video {
    text-align: center;
    color: violet;
    font-weight: bold;
    text-decoration: underline;
}
.anhgif {
    width: 100%;
}
.video1 {
    text-align: center;
}
.anhnencss {
    width: 100%;
}
#trangchu {
    width: 60%;
}

#boder1 {
    width: 20%;
}
#anhnen3 {
    width: 19%;

}
.video2 {
    width: 100%;
}
#tacgia {
    background-color: orangered;
    width: 100%;
}
#maukhac {
    text-align: center;
    background-color: lightgreen;
}


