
  <h3 class=" text-center btn-primary">Danh sách học sinh</h3>

<div class="container-fluid">
  <select  class="form-control-lg" (change)="chageColor($event.target.value)">
    <option value="">Chọn</option>
    <option value="red">Đỏ</option>
    <option value="blue">Xanh</option>
    <option value="green">Xanh lá</option>
    <option value="yellow">Vàng</option>
    <option value="black">Đen</option>
    <option value="gray">Xám</option>
    <option value="lime">Xanh nhạt</option>
    <option value="pink">Hồng</option>
    <option value="maroon">Đà</option>
    <option value="purple">Tím</option>
  </select>
 <table class="table table-secondary table-active table-hover">
   <tr style="background: green">
     <th>STT</th>
     <th>Họ và tên</th>
     <th>Địa chỉ</th>
     <th>Lớp</th>
     <th>Điểm thi</th>
     <th>Kết quả</th>
     <th>Chức năng</th>
   </tr>
   <tr *ngFor="let student of students">
     <td [style.color]="colorRow">{{student.id}}</td>
     <td [style.color]="colorRow">{{student.name | uppercase}}</td>
     <td [style.color]="colorRow">{{student.adress}}</td>
     <td [style.color]="colorRow">{{student.classRoom}}</td>
     <td [style.color]="colorRow">{{student.mark}}</td>
     <td class="text-danger" *ngIf="student.mark <= 6; else markFlese">Học lại</td>
     <ng-template #markFlese >
       <td class="text-success">Lên Lớp</td>
     </ng-template>
     <td>
       <a class="btn btn-warning" routerLink="/details/{{student.id}}" >Details</a>
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modelId">
         Remove
       </button>
       <a class="btn badge-danger">Update</a>
     </td>
   </tr>
 </table>
</div>


  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xác Nhận</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
           <span class="text-danger">Bạn có muốn xóa hay ko ?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Delete</button>
        </div>
      </div>
    </div>
  </div>

