<center>
<h3 class="btn-primary">Ứng dụng pikker</h3>
</center>
<div class="container">
  <div class="row">
    <select class="form-control" [(ngModel)]="color" style="margin: auto">
      <option value="">Chọn</option>
      <option value="background-color: yellow;width: 200px;height: 100px">Yellow</option>
      <option value="background-color: blue;width: 200px;height: 100px">Blue</option>
      <option value="background-color: black;width: 200px;height: 100px">Black</option>
      <option value="background-color: pink;width: 200px;height: 100px">Pink</option>
      <option value="background-color: brown;width: 200px;height: 100px">Brown</option>
      <option value="background-color: green;width: 200px;height: 100px">Green</option>
      <option value="background-color: purple;width: 200px;height: 100px">Purple</option>
      <option value="background-color: red;width: 200px;height: 100px" >Red</option>
      <option value="background-color: lime;width: 200px;height: 100px" >Lime</option>
      <option value="background-color: peru;width: 200px;height: 100px" >Peru</option>
      <option value="background-color: gray;width: 200px;height: 100px" >Gray</option>
      <option value="background-color: white;width: 200px;height: 100px" >White</option>
      <option value="background-color: plum;width: 200px;height: 100px" >Plum</option>
      <option value="background-color: gray;width: 200px;height: 100px" >Gray</option>
    </select>
  </div>
</div>
<br>
<br>
<br>

<center>
  <div [style]="color">Phạm Duy Thuận C1021G1</div>
</center>
