<table class="table table-hover">
  <thead>
  <tr>
    <th>STT</th>
    <th>Họ và tên</th>
    <th>Ngày Sinh</th>
    <th>CMND</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Vị trí</th>
    <th>Trình độ</th>
    <th>Lương(VND/USD)</th>
    <th>Chức năng</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employeeList of employee">
    <td>{{employeeList.id}}</td>
    <td>{{employeeList.name}}</td>
    <td>{{employeeList.birthday}}</td>
    <td>{{employeeList.code}}</td>
    <td>{{employeeList.phone}}</td>
    <td>{{employeeList.email}}</td>
    <td>{{employeeList.position}}</td>
    <td>{{employeeList.division}}</td>
    <td>{{employeeList.salary}}</td>
    <td>
      <a class="btn btn-warning m-1" >Details</a>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary m-1" data-toggle="modal"  data-target="#exampleModal" >
        Remove
      </button>
      <a class="btn btn-success m-1">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
